<div class="readings index">
  <h2>Temperature Readings</h2>


<canvas data-readings="<%= get_readings %>" height="400" id="chart_for_temp" data-label="<%= get_graph_labels %>" width="600" style="width: 1000px; height: 400px;"></canvas>

<% if ENV["RAILS_ENV"] == "development" %>
<p><pre><%= p params %></pre></p>
<% end %>

